.player {
    border-radius: 12px;
    background-color: #383040;
    overflow: hidden;

    img {
        border-radius: 12px;
    }

    &__top {
        padding: 15px;

        &__controls {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;

            audio {
                width: calc(100% - 40px);

                &::-webkit-media-controls-mute-button {
                    display: none !important;
                }

                &::-webkit-media-controls-volume-slider {
                    display: none !important;
                }
            }

            &__prev {
                cursor: pointer;
                width: 20px;
            }

            &__next {
                cursor: pointer;
                width: 20px;
            }
        }
    }

    &__list {
        padding: 15px;
        counter-reset: section;
        background-color: rgba(0, 0, 0, 0.1);
        overflow-y: scroll;
        height: 200px;

        &__song {
            position: relative;
            border-radius: 10px;
            padding: 5px 5px 5px 30px;
            cursor: pointer;

            &::before {
                counter-increment: section;
                content: counter(section);
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.6;
            }

            &:hover,
            &.--selected {
                background-color: rgba(0, 0, 0, 0.2);
            }

            &__artist {
                font-size: 11px;
                text-overflow: ellipsis;
                overflow: hidden;
                opacity: 0.6;
            }
        }
    }
}
